header {
  background-color: #542E19
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FEFEFE;
}

.titulo{
  color:#362300;
  text-decoration: none;
  margin: 20px auto;
}

.links-sidebar{
  color:#faf3e0;
  text-decoration: none;
  transition-duration: 300ms;
}

.links-sidebar:hover{
  background: #1C0A00;
  color: #CC9544;
  text-decoration: none;
  max-width: 85%;
  margin-left: 15%;
  border-radius: 5%;
  transition-duration: 300ms;
  box-shadow: 0px 0px 4px #1C0A00;
}

.links-sidebar:focus{
  color: #CC9544;
  max-width: 85%;
  margin-left: 15%;
}

/* paletas de colores */
.paleta_de_colores{
color: #faf3e0;
color: #CC9544;
color: #774022;
color: #542E19;
color:#361500;
color: #1c0a00;
}

.shadow-card{
  box-shadow: 0px 0px 4px #725545ec;
}

.colores-nav{
  color:#361500;
  border-color: #361500;
}
.colores-nav:hover{
  background-color: #CC9544;
  color: #1C0A00;
}

.colores-num-nav{
  background-color: #CC9544;
  color:#361500;
  border-color: #36150080;
}
.colores-num-nav:hover{
  color: #CC9544;
  background-color:#361500;
  border-color: #36150080;
}