header {
  background-color: #542E19
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FEFEFE;
}

.titulo{
  color:#362300;
  text-decoration: none;
  margin: 20px auto;
}

.links-sidebar{
  color:#ffe4b1;
  text-decoration: none;
}
