header {
  background-color: #542E19
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FEFEFE;
}

.titulo{
  color:#FEFEFE;
  text-decoration: none;
}


